img{height: 200px; width: 200px;}

.Prueba-info{ display: none;  transform: translate(-50%, -50%); color: cyan;}


.prueba1{
cursor: pointer;

}
.prueba1 img:hover + .Prueba-info{
    display: block;
}