/*----Letras----*/
@font-face {
  font-family: harry;
  src: url(../font/HARRYP__.TTF); }

@font-face {
  font-family: "comic";
  src: url(../font/ComicNeue-Regular.ttf); }

@font-face {
  font-family: bonaNava;
  src: url(../font/BonaNovaSC-Regular.ttf); }

/*----RESETS----*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*----HEADER----*/
header {
  background-color: black; }

.grid-header {
  width: 100%;
  height: 225px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100px 125px;
  grid-template-areas: "h1 h1 h1" "nav nav nav"; }

.grid-header__h1 {
  grid-area: h1;
  color: white;
  font-family: harry;
  text-shadow: 5px -4px 5px rgba(255, 255, 255, 0.69); }
  .grid-header__h1 h1 {
    text-align: center;
    padding-top: 25px;
    font-size: 75px; }

.grid-header__nav {
  grid-area: nav; }
  .grid-header__nav nav {
    background-color: black !important; }
    .grid-header__nav nav div ul li a {
      color: white !important;
      font-family: comic;
      font-size: 25px;
      transition: 0.5s; }
      .grid-header__nav nav div ul li a:hover {
        font-family: harry;
        font-size: 30px; }
  .grid-header__nav img {
    width: 100px;
    height: 100px; }

.grid-noticias__not2 img, .grid-noticias__not3 img, .grid-noticias__not4 img {
  width: 150px;
  height: 100%;
  border-radius: 25px; }

.grid-actividades__Transformaciones, .grid-actividades__Encantamientos, .grid-actividades__Pociones, .grid-actividades__Defensa-artes-oscuras, .grid-actividades__Astronomia, .grid-actividades__Herbologia, .grid-actividades__Historia-magia, .grid-actividades__Cuidado-Cmagicas, .grid-actividades__Adivinacion, .grid-actividades__Aritmancia, .grid-actividades__Estudios-muggle, .grid-actividades__Runas-antiguas {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px auto 350px;
  grid-template-areas: "h3" "h4" "txt";
  grid-gap: 5px;
  text-align: center; }
  .grid-actividades__Transformaciones h3, .grid-actividades__Encantamientos h3, .grid-actividades__Pociones h3, .grid-actividades__Defensa-artes-oscuras h3, .grid-actividades__Astronomia h3, .grid-actividades__Herbologia h3, .grid-actividades__Historia-magia h3, .grid-actividades__Cuidado-Cmagicas h3, .grid-actividades__Adivinacion h3, .grid-actividades__Aritmancia h3, .grid-actividades__Estudios-muggle h3, .grid-actividades__Runas-antiguas h3 {
    grid-area: h3;
    font-family: harry;
    font-size: 40px;
    font-style: italic;
    color: white;
    text-decoration: underline;
    text-align: center;
    margin-top: 25px; }
  .grid-actividades__Transformaciones h4, .grid-actividades__Encantamientos h4, .grid-actividades__Pociones h4, .grid-actividades__Defensa-artes-oscuras h4, .grid-actividades__Astronomia h4, .grid-actividades__Herbologia h4, .grid-actividades__Historia-magia h4, .grid-actividades__Cuidado-Cmagicas h4, .grid-actividades__Adivinacion h4, .grid-actividades__Aritmancia h4, .grid-actividades__Estudios-muggle h4, .grid-actividades__Runas-antiguas h4 {
    grid-area: h4;
    font-family: bonaNava;
    font-size: 25px;
    color: white; }
  .grid-actividades__Transformaciones p, .grid-actividades__Encantamientos p, .grid-actividades__Pociones p, .grid-actividades__Defensa-artes-oscuras p, .grid-actividades__Astronomia p, .grid-actividades__Herbologia p, .grid-actividades__Historia-magia p, .grid-actividades__Cuidado-Cmagicas p, .grid-actividades__Adivinacion p, .grid-actividades__Aritmancia p, .grid-actividades__Estudios-muggle p, .grid-actividades__Runas-antiguas p {
    grid-area: txt;
    text-align: center;
    font-family: bonaNava;
    font-size: 20px;
    color: white;
    margin: 30px 0 10px 0;
    display: contents; }

@media only screen and (max-width) {
  .grid-actividades__Transformaciones, .grid-actividades__Encantamientos, .grid-actividades__Pociones, .grid-actividades__Defensa-artes-oscuras, .grid-actividades__Astronomia, .grid-actividades__Herbologia, .grid-actividades__Historia-magia, .grid-actividades__Cuidado-Cmagicas, .grid-actividades__Adivinacion, .grid-actividades__Aritmancia, .grid-actividades__Estudios-muggle, .grid-actividades__Runas-antiguas {
    color: black; } }

/*!----INDEX----*/
.hero {
  width: 100%;
  height: calc(90vh - 104px);
  background-image: url(../img/fotos-Index/hogwarts.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white; }
  .hero h2 {
    font-family: harry;
    font-size: 75px;
    text-align: center;
    padding: 50px; }

.grid-noticias {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 0.2fr 1fr 1.5fr 0.2fr;
  grid-template-rows: repeat(3, 200px);
  grid-template-areas: ". not1 not2 ." ". not1 not3 ." ". not1 not4 .";
  grid-gap: 20px;
  background-image: url(../img/fotos-Index/fondo-bosque.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-family: comic;
  font-size: 20px;
  font-family: comic;
  text-align: center;
  color: white; }

.grid-noticias__not1 {
  grid-area: not1;
  grid-row: 1/end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 5px solid rgba(0, 128, 0, 0.5);
  border-radius: 25px; }
  .grid-noticias__not1 img {
    width: 75%;
    height: 70%;
    margin: 0 auto;
    border-radius: 25px; }

.grid-noticias__not2 {
  grid-area: not2;
  display: flex;
  padding: 25px;
  border: 5px solid rgba(255, 0, 0, 0.5);
  border-radius: 25px; }

.grid-noticias__not3 {
  grid-area: not3;
  display: flex;
  padding: 25px;
  border: 5px solid rgba(229, 245, 7, 0.5);
  border-radius: 25px; }

.grid-noticias__not4 {
  grid-area: not4;
  display: flex;
  padding: 25px;
  border: 5px solid rgba(51, 110, 219, 0.5);
  border-radius: 25px; }

.grid-informacion {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
  grid-template-rows: repeat(4, 300px);
  grid-template-areas: ". fundacion img-gry ." ". img-huf ubicacion ." ". personal img-rev ." ". img-sly instalaciones .";
  gap: 10px;
  background-image: url(../img/fotos-Index/fondo-salaMenesteres.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed; }
  .grid-informacion div h2 {
    font-family: harry;
    font-size: 40px;
    text-align: center;
    color: white; }
  .grid-informacion div img {
    width: 300px;
    height: 300px; }

.grid-informacion__fundacion {
  grid-area: fundacion;
  margin: 20px 0 0 0; }

.grid-informacion__img-gry {
  grid-area: img-gry;
  margin: 0 auto; }

.grid-informacion__img-huf {
  grid-area: img-huf;
  margin: 0 auto; }

.grid-informacion__ubicacion {
  grid-area: ubicacion; }

.grid-informacion__personal {
  grid-area: personal; }

.grid-informacion__img-rev {
  grid-area: img-rev;
  margin: 0 auto; }

.grid-informacion__img-sly {
  grid-area: img-sly;
  margin: 0 auto; }

.grid-informacion__instalaciones {
  grid-area: instalaciones; }

/*!PAGES CASAS*/
header div nav {
  z-index: 1; }

.body-casas {
  width: 100%;
  height: calc(80vh - 104px);
  background-image: url(../img/fotos-casas/fondo-escena-reino-hadas-invierno.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.445); }

.hero-casas h2 {
  color: aliceblue;
  font-family: bonaNava;
  font-size: 35px;
  text-align: center;
  padding: 50px; }

.grid-casas {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  grid-template-rows: repeat(4, 1fr) 0.5fr;
  grid-template-areas: ". gry ." ". huf ." ". rev ." ". sly ." "final final final";
  gap: 10px;
  text-align: center; }
  .grid-casas div h3 {
    font-family: harry;
    font-size: 100px; }
  .grid-casas div p {
    font-family: bonaNava;
    font-size: 30px;
    color: aliceblue; }

.grid-casas__gry {
  grid-area: gry; }
  .grid-casas__gry h3 {
    color: #990000; }

.grid-casas__huf {
  grid-area: huf; }
  .grid-casas__huf h3 {
    color: #8a8a00; }

.grid-casas__rev {
  grid-area: rev; }
  .grid-casas__rev h3 {
    color: #1388ee; }

.grid-casas__sly {
  grid-area: sly; }
  .grid-casas__sly h3 {
    color: green; }

.grid-casas__final {
  grid-area: final;
  grid-column: 1/4;
  text-align: center;
  color: aliceblue;
  font-family: bonaNava;
  font-size: 35px;
  text-align: center;
  padding: 50px; }

/*!Page Actividades*/
.carrusel img {
  width: 1700px;
  height: 800px; }

.grid-actividades {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 0.8fr 1fr 1fr 0.8fr;
  grid-template-rows: repeat(6, 450px);
  grid-template-areas: ". transf encant ." ". pocio defenAO ." ". astro herbo ." ". histM cuidaCM ." ". adivin aritm ." ". EstudM runasA .";
  gap: 10px;
  background-image: url(../img/fotos-academicas/fondo-callejon.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.445); }

.grid-actividades__Transformaciones {
  grid-area: transf; }

.grid-actividades__Encantamientos {
  grid-area: encant; }

.grid-actividades__Pociones {
  grid-area: pocio; }

.grid-actividades__Defensa-artes-oscuras {
  grid-area: defenAO; }

.grid-actividades__Astronomia {
  grid-area: astro; }

.grid-actividades__Herbologia {
  grid-area: herbo; }

.grid-actividades__Historia-magia {
  grid-area: histM; }

.grid-actividades__Cuidado-Cmagicas {
  grid-area: cuidaCM; }

.grid-actividades__Adivinacion {
  grid-area: adivin; }

.grid-actividades__Aritmancia {
  grid-area: aritm; }

.grid-actividades__Estudios-muggle {
  grid-area: EstudM; }

.grid-actividades__Runas-antiguas {
  grid-area: runasA; }

/*Page Materiales*/
/*!page Contacto */
.boton button {
  background-color: #4CAF50;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px; }

/*!---FOOTER---*/
.grid-footer {
  width: 100%;
  height: 150px;
  display: grid;
  grid-template-columns: 0.5fr 1.5fr 0.5fr;
  grid-template-rows: repeat(3, 50px);
  grid-template-areas: ". . ." ". texto ." ". . .";
  background-color: black; }

.grid-footer__texto {
  grid-area: texto; }
  .grid-footer__texto h2 {
    color: white;
    font-family: harry;
    font-size: 50px;
    text-align: center;
    text-shadow: 5px -4px 5px rgba(255, 255, 255, 0.69); }

/*!@media INDEX*/
@media only screen and (max-width: 1162px) {
  .grid-noticias {
    grid-template-areas: ". not1 not2 ." ". not1 not2 ." ". not3 not4 ."; }
  .grid-noticias__not1 {
    grid-row: 1/3;
    padding: 25px; }
    .grid-noticias__not1 img {
      width: 200px;
      height: 200px; }
  .grid-noticias__not2 {
    grid-row: 1/3;
    flex-direction: column; }
    .grid-noticias__not2 img {
      width: 200px;
      height: 200px; }
  .grid-noticias__not3 img {
    width: 100px;
    height: 125px; }
  .grid-noticias__not3 p {
    font-size: 15px; }
  .grid-noticias__not4 img {
    width: 100px;
    height: 125px; }
  .grid-noticias__not4 p {
    font-size: 15px; }
  .grid-informacion div h2 {
    font-size: 35px; } }

@media only screen and (max-width: 994px) {
  .grid-noticias {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: " not1 not2 " " not3 not4 ";
    grid-gap: 10px; }
  .grid-noticias__not1 {
    grid-row: inherit;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .grid-noticias__not1 img {
      width: 100px;
      height: 125px; }
    .grid-noticias__not1 p {
      font-size: 15px; }
  .grid-noticias__not2 {
    grid-row: inherit;
    flex-direction: row; }
    .grid-noticias__not2 img {
      width: 100px;
      height: 125px;
      margin: 0 auto; }
    .grid-noticias__not2 p {
      font-size: 15px; } }

@media only screen and (max-width: 728px) {
  .grid-noticias__not1 {
    flex-direction: column; }
  .grid-noticias__not2 {
    flex-direction: column; }
  .grid-noticias__not3 {
    flex-direction: column;
    align-items: center; }
  .grid-noticias__not4 {
    flex-direction: column;
    align-items: center; }
  .grid-informacion div h2 {
    font-size: 34px; } }

@media only screen and (max-width: 619px) {
  .grid-informacion {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 250px);
    grid-template-areas: "fundacion img-gry" "img-huf ubicacion" "personal img-rev" "img-sly instalaciones"; }
    .grid-informacion div h2 {
      font-size: 30px; }
    .grid-informacion div img {
      width: 100%;
      height: 100%; } }

@media only screen and (max-width: 540px) {
  .grid-noticias {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "not1" "not2" "not3" "not4";
    gap: 5px; }
    .grid-noticias div p {
      font-size: 20px; }
  .grid-informacion {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto 1fr auto 1fr auto 1fr auto;
    grid-template-areas: "img-gry" "fundacion" "img-huf" "ubicacion" "img-rev" "personal" "img-sly" "instalaciones";
    gap: 10px; }
    .grid-informacion div h2 {
      font-size: 35px; } }

/*! MEDIAS CASAS*/
@media only screen and (max-width: 1050px) {
  .hero-casas h2 {
    font-size: 28px; }
  .grid-casas {
    grid-template-columns: 0.3fr 1.5fr 0.3fr; }
    .grid-casas div h3 {
      font-size: 75px; }
    .grid-casas div p {
      font-size: 25px; }
    .grid-casas div h2 {
      font-size: 25px; } }

@media only screen and (max-width: 800px) {
  .grid-casas {
    grid-template-columns: 1fr;
    grid-template-areas: "gry" "huf" "rev" "sly" "final";
    gap: 5px; }
    .grid-casas div h3 {
      font-size: 65px; }
    .grid-casas div p {
      font-size: 20px; }
    .grid-casas div h2 {
      font-size: 20px; } }

@media only screen and (max-width: 800px) {
  .hero-casas h2 {
    font-size: 20px; }
  .grid-casas div h3 {
    font-size: 65px; }
  .grid-casas div p {
    font-size: 20px; }
  .grid-casas div h2 {
    font-size: 20px; } }

@media only screen and (max-width: 600px) {
  .hero-casas h2 {
    font-size: 18px; }
  .grid-casas div h3 {
    font-size: 55px; }
  .grid-casas div p {
    font-size: 15px; }
  .grid-casas div h2 {
    font-size: 18px; } }

@media only screen and (max-width: 480px) {
  .hero-casas h2 {
    font-size: 17px; }
  .grid-casas div h3 {
    font-size: 50px; }
  .grid-casas div p {
    font-size: 14px; }
  .grid-casas div h2 {
    font-size: 17px; } }

@media only screen and (max-width: 400px) {
  .hero-casas h2 {
    font-size: 13px; }
  .grid-casas div h3 {
    font-size: 40px; }
  .grid-casas div p {
    font-size: 13px; }
  .grid-casas div h2 {
    font-size: 13px; } }

/*!@media footer*/
@media only screen and (max-width: 864px) {
  .grid-footer {
    grid-template-areas: ". texto ." ". texto ." ". . .";
    background-color: black; } }

@media only screen and (max-width: 540px) {
  .grid-footer div h2 {
    font-size: 40px; } }
