//clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%);

/*!Page Actividades*/
//----MAIN----
.carrusel{
    img{
        width: 1700px;
        height: 800px;
    }
}

.grid-actividades{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 0.8fr 1fr 1fr 0.8fr;
    grid-template-rows: repeat(6, 450px);
    grid-template-areas: 
    ". transf encant ."
    ". pocio defenAO ."
    ". astro herbo ."
    ". histM cuidaCM ."
    ". adivin aritm ."
    ". EstudM runasA .";
    gap: 10px;


    background-image: url(../img/fotos-academicas/fondo-comedor.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.445);

}


.grid-actividades__Transformaciones{
    grid-area: transf;
    @extend %display-actividades;
}
.grid-actividades__Encantamientos{
    grid-area: encant;
    @extend %display-actividades;
}
.grid-actividades__Pociones{
    grid-area: pocio;
    @extend %display-actividades;
}
.grid-actividades__Defensa-artes-oscuras{
    grid-area: defenAO;
    @extend %display-actividades;
}
.grid-actividades__Astronomia{
    grid-area: astro;
    @extend %display-actividades;
}
.grid-actividades__Herbologia{
    grid-area: herbo;
    @extend %display-actividades;
}
.grid-actividades__Historia-magia{
    grid-area: histM;
    @extend %display-actividades;
}
.grid-actividades__Cuidado-Cmagicas{
    grid-area: cuidaCM;
    @extend %display-actividades;
}
.grid-actividades__Adivinacion{
    grid-area: adivin;
    @extend %display-actividades;
}
.grid-actividades__Aritmancia{
    grid-area: aritm;
    @extend %display-actividades;
}
.grid-actividades__Estudios-muggle{
    grid-area: EstudM;
    @extend %display-actividades;
}
.grid-actividades__Runas-antiguas{
    grid-area: runasA;
    @extend %display-actividades;
}