/*!PAGES CASAS*/
.body-casas{
    width: 100%;
    height: calc(80vh - 104px);
    background-image: url(../img/fotos-casas/fondo-escena-reino-hadas-invierno.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.445);
}

.hero-casas{
    h2{
        color: aliceblue;
        font-family: bonaNava;
        font-size: 35px;
        text-align: center;
        padding: 50px;
    }
    
}

.grid-casas{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    grid-template-rows: repeat(4, 1fr) 0.5fr;
    grid-template-areas: 
    ". gry ."
    ". huf ."
    ". rev ."
    ". sly ."
    "final final final";
    ;
    
    gap: 10px;
    text-align: center;

    div{
        h3{font-family: harry;
            font-size: 100px;}
        p{
            font-family: bonaNava;
            font-size: 30px;
            color: aliceblue;
        }
    }
}

.grid-casas__gry{
    grid-area: gry;

    h3{color: rgb(153, 0, 0) ;}
    
}

.grid-casas__huf{
    grid-area: huf;

    h3{color: rgb(138, 138, 0) ;}
    
}

.grid-casas__rev{
    grid-area: rev;
    
    h3{ color: rgb(19, 136, 238) ;}
}

.grid-casas__sly{
    grid-area: sly;
    h3{ color: green ;}
}

.grid-casas__final{
    grid-area: final;
    grid-column: 1/4;
    text-align: center;

    color: aliceblue;
    font-family: bonaNava;
    font-size: 35px;
    text-align: center;
    padding: 50px;
}
