/*!Page GALERIA*/

.fondo-galeria-main{
    background-image: url(../img/fotos-galeria/hogwarts.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

.grid-galeria__Gryf{
    @extend %grid-galeria;
    @extend %grid-galeria-orden;
    @include orden (1);

    div{
        img:hover{
            opacity: 1;
            scale: 1.1;
        }
    }
}

.grid-galeria__Huff{
    @extend %grid-galeria;
    @extend %grid-galeria-orden;
    @include orden (2);
    div{
        img:hover{
            opacity: 1;
            scale: 1.1;
        }
    }
}

.grid-galeria__Revc{
    @extend %grid-galeria;
    @extend %grid-galeria-orden;
    @include orden (1);
    div{
        img:hover{
            opacity: 1;
            scale: 1.1;
        }
    }
}

.grid-galeria__Slyt{
    @extend %grid-galeria;
    @extend %grid-galeria-orden;
    @include orden (2);
    div{
        img:hover{
            opacity: 1;
            scale: 1.1;
        }
    }
    margin: 0;
}