/*----Letras----*/
@font-face {
    font-family: harry;
    src: url(../font/HARRYP__.TTF);
}

@font-face {
    font-family: "comic";
    src: url(../font/ComicNeue-Regular.ttf);
}

@font-face {
    font-family: bonaNava;
    src: url(../font/BonaNovaSC-Regular.ttf);
}

/*----RESETS----*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

%img-noticias{
    width: 150px;
        height: 100%;
        border-radius: 25px;
}

$numero1: random(999);
$numero2: random(999);
$numero3: random(999)